.calendar-item {
    list-style-type: none;
    text-align: justify;
    margin: 15px 0;
    font-size: 1rem;
}

.calendar-print {
    background: rgb(44, 66, 44) !important;
    outline-style: none!important;
    border: none!important;
    margin-bottom: 15px;
}
