.calendar-item {
    list-style-type: none;
    text-align: start;
    margin: 15px 0;
    font-size: 1rem;
}

.calendar-list {
    padding: 0 15px;
}

.calendar {
    padding-bottom: 15px;
}

@media (max-width: 556px) {
    .calendar-item {
        font-size: .9rem;
    }
}
